<div class="modal fade" id="genreFilterModal" tabindex="-1" aria-labelledby="genreFilterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #231F20; color: #f4d1d1;">
      <div class="modal-header" style="background-color: #8b1d2e; color: white;">
        <h5 class="modal-title" id="genreFilterModalLabel">Filter by Genre</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="genreFilterForm" action="/search" method="POST">
          <div class="row row-cols-3">
            <!-- General Genres -->
            <div class="col">
              {{#each (array 'Art' 'Biography' 'Business' 'Children' 'Comics' 'Computers' 'Cooking' 'Education' 'Fiction' 'Health' 'History' 'Horror')}}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres[]" value="{{this}}" id="genre{{this}}" {{#if (includes ../selectedGenres this)}}checked{{/if}}>
                <label class="form-check-label" for="genre{{this}}">{{this}}</label>
              </div>
              {{/each}}
            </div>
            <!-- More General and Movie-Specific Genres -->
            <div class="col">
              {{#each (array 'Law' 'Mathematics' 'Medical' 'Music' 'Philosophy' 'Poetry' 'Psychology' 'Religion' 'Romance' 'Science' 'Science Fiction' 'Self-Help')}}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres[]" value="{{this}}" id="genre{{this}}" {{#if (includes ../selectedGenres this)}}checked{{/if}}>
                <label class="form-check-label" for="genre{{this}}">{{this}}</label>
              </div>
              {{/each}}
            </div>
            <!-- Movie and Game-Specific Genres -->
            <div class="col">
              {{#each (array 'Sports' 'Technology' 'Travel' 'Action' 'Adventure' 'Animation' 'Comedy' 'Crime' 'Documentary' 'Drama' 'Family' 'Fantasy')}}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres[]" value="{{this}}" id="genre{{this}}" {{#if (includes ../selectedGenres this)}}checked{{/if}}>
                <label class="form-check-label" for="genre{{this}}">{{this}}</label>
              </div>
              {{/each}}
            </div>
            <!-- Game-Specific Genres -->
            <div class="col">
              {{#each (array 'Mystery' 'TV Movie' 'Thriller' 'War' 'Western' 'RPG' 'Shooter' 'Strategy' 'Simulation' 'Puzzle' 'Arcade' 'Platformer')}}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres[]" value="{{this}}" id="genre{{this}}" {{#if (includes ../selectedGenres this)}}checked{{/if}}>
                <label class="form-check-label" for="genre{{this}}">{{this}}</label>
              </div>
              {{/each}}
            </div>
            <!-- More Game-Specific Genres -->
            <div class="col">
              {{#each (array 'Fighting' 'Racing' 'Multiplayer' 'Battle Royale' 'MOBA' 'Survival' 'Open World' 'Sandbox' 'Stealth' 'Visual Novel' 'Idle' 'Card Game')}}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres[]" value="{{this}}" id="genre{{this}}" {{#if (includes ../selectedGenres this)}}checked{{/if}}>
                <label class="form-check-label" for="genre{{this}}">{{this}}</label>
              </div>
              {{/each}}
            </div>
            <!-- Final Game-Specific Genres -->
            <div class="col">
              {{#each (array 'Board Game' 'Trivia' 'Educational')}}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres[]" value="{{this}}" id="genre{{this}}" {{#if (includes ../selectedGenres this)}}checked{{/if}}>
                <label class="form-check-label" for="genre{{this}}">{{this}}</label>
              </div>
              {{/each}}
            </div>
          </div>
          <input type="hidden" name="query" value="{{searchQuery}}">
          {{#if contentType}}
            <input type="hidden" name="contentType" value="{{contentType}}">
          {{/if}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="genreFilterForm" class="btn" style="background-color: #8b1d2e; color: white;">Apply Filters</button>
      </div>
    </div>
  </div>
</div>

{{#*inline "array"}}{{#each .}}{{this}}{{#unless @last}},{{/unless}}{{/each}}{{/inline}}
{{#*inline "includes"}}{{#if this}}{{#each this}}{{#if (eq this ../value)}}true{{/if}}{{/each}}{{/if}}{{/inline}}